<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
    />
    <link href="/client/styles/style.scss" />
  </head>
  <body>
    <div id="app">
      <main>
        <div class="headline">
          Travel App
        </div>
        <div class="content">
          <div class="entry">
            <div id="locationPictureHolder">
              <img id="locationPicture" />
            </div>
            <div id="travelDetails">
              <div id="cityName"></div>
              <div id="formattedTodaysDate"></div>
              <div id="formattedTravelDate"></div>
              <div id="daysBeforeDeparture"></div>
              <div id="latitude"></div>
              <div id="longitude"></div>
              <div id="country"></div>
              <div id="currentForecast"></div>
              <div id="predictedForecast"></div>
              <div id="error"></div>
            </div>
          </div>
          <hr />
          <div class="inputFields">
            <div class="city">
              <label for="city">Travel Destination:</label>
              <input type="text" id="city" placeholder="enter city name here" />
            </div>
            <div class="date">
              <label for="city">Travel Date:</label>
              <input type="date" id="date" name="date" />
            </div>
            <div id="submitButtonHolder">
              <button id="submit" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("dist/service-worker.js");
        });
      }
    </script>
  </body>
</html>
