<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Journal</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
    />
    <link href="/client/styles/style.scss" />
  </head>
  <body>
    <div id="app">
      <main>
        <hr />
        <div class="holder headline">
          Travel App
        </div>
        <div class="holder city">
          <label for="city">Enter City here</label>
          <input type="text" id="city" placeholder="enter city name here" />
        </div>
        <div class="holder date">
          <label for="city">Enter Date here</label>
          <input type="date" id="date" name="date" />
        </div>
        <div class="holder feel">
          <button id="submit" type="submit">Submit</button>
        </div>
        <div class="holder entry">
          <div class="title">Trip Info:</div>
          <div id="entryHolder">
            <div id="cityName"></div>
            <img id="locationPicture"></img>
            <div id="formattedTodaysDate"></div>
            <div id="formattedTravelDate"></div>
            <div id="daysBeforeDeparture"></div>
            <div id="latitude"></div>
            <div id="longitude"></div>
            <div id="country"></div>
            <div id="currentForecast"></div>
            <div id="predictedForecast"></div>
          </div>
        </div>
      </main>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("dist/service-worker.js");
        });
      }
    </script>
  </body>
</html>
