<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weather Journal</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
    />
    <link href="/client/styles/style.scss" />
    <link href="/client/styles/resets.scss" />
    <link href="/client/styles/base.scss" />
    <link href="/client/styles/header.scss" />
    <link href="/client/styles/form.scss" />
    <link href="/client/styles/footer.scss" />
  </head>
  <body>
    <div id="app">
      <main>
        <!-- <section>
          <form class="" onsubmit="return Client.handleSubmit(event)">
            <input
              id="name"
              type="text"
              name="input"
              value=""
              placeholder="Name"
            />
            <input
              type="submit"
              name=""
              value="submit"
              onclick="return Client.handleSubmit(event)"
              onsubmit="return Client.handleSubmit(event)"
            />
          </form>
        </section>

        <section>
          <strong>Text Sent:</strong>
          <div id="text-sent"></div>
        </section>

        <section>
          <strong>Polarity:</strong>
          <div id="polarity"></div>
        </section>

        <section>
          <strong>Subjectivity:</strong>
          <div id="subjectivity"></div>
        </section> -->
        <hr />
        <div class="holder headline">
          Weather Journal App
        </div>
        <div class="holder zip">
          <label for="zip">Enter Zipcode here</label>
          <input type="text" id="zip" placeholder="enter zip code here" />
        </div>
        <div class="holder feel">
          <label for="feelings">How are you feeling today?</label>
          <textarea
            class="myInput"
            id="feelings"
            placeholder="Enter your feelings here"
            rows="9"
            cols="50"
          ></textarea>
          <button id="generate" type="submit">Generate</button>
        </div>
        <div class="holder entry">
          <div class="title">Most Recent Entry</div>
          <div id="entryHolder">
            <div id="date"></div>
            <div id="temp"></div>
            <div id="content"></div>
          </div>
        </div>
      </main>
    </div>
    <script src="../../../website/app.js" type="text/javascript"></script>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("dist/service-worker.js");
        });
      }
    </script>
  </body>
</html>
