@media screen and (max-width: 1100px) {
  .headline {
    font-size: 120px;
  }

  .entry {
    width: 800px;
    height: 700px;
  }

  .travelDetails {
    font-size: 32x;
  }

  .inputFields {
    flex-direction: column;
    margin: 15px 0px;

    label {
      font-size: 64px;
    }

    input {
      height: 75px;
      width: 600px;
      font-size: 44px;
    }

    #submitButtonHolder {
      justify-content: center;
      margin-top: 15px;

      button {
        height: 75px;
        width: 300px;
        font-size: 56px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .entry {
    width: 650px;
    height: 600px;
  }

  .inputFields {
    label {
      font-size: 36px;
    }

    input {
      height: 35px;
      width: 450px;
      font-size: 36px;
    }

    #submitButtonHolder {
      button {
        height: 35px;
        width: 200px;
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .headline {
    font-size: 80px;
  }

  .entry {
    width: 350px;
    height: 500px;
  }

  label {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  .entry {
    background-color: purple;
  }
}
