@media screen and (max-width: 1100px) {
  .headline {
    font-size: 120px;
  }

  .entry {
    width: 800px;
    height: 700px;
    font-size: 25px;
  }

  .travelDetails {
    font-size: 32x;
  }

  .inputFields {
    flex-direction: column;
    margin: 15px 0px;

    label {
      font-size: 64px;
    }

    input {
      height: 75px;
      width: 600px;
      font-size: 44px;
    }

    #submitButtonHolder {
      justify-content: center;
      margin-top: 15px;

      button {
        height: 75px;
        width: 300px;
        font-size: 56px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .entry {
    width: 650px;
    height: 600px;
  }

  .inputFields {
    label {
      font-size: 36px;
    }

    input {
      height: 35px;
      width: 450px;
      font-size: 36px;
    }

    #submitButtonHolder {
      button {
        height: 35px;
        width: 200px;
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .headline {
    font-size: 50px;
  }

  .entry {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    font-size: 16px;

    .locationPictureHolder {
      height: 200px;
      width: 200px;
      img {
        height: 200px;
        width: 200px;
      }
    }

    .travelDetails {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .inputFields {
    label {
      font-size: 24px;
    }

    input {
      height: 25px;
      width: 250px;
      font-size: 20px;
    }

    #submitButtonHolder {
      button {
        height: 25px;
        width: 150px;
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .headline {
    font-size: 35px;
  }

  .entry {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 400px;
    font-size: 16px;

    .locationPictureHolder {
      height: 200px;
      width: 200px;
      img {
        height: 200px;
        width: 200px;
      }
    }

    .travelDetails {
      width: 200px;
    }
  }

  .inputFields {
    margin-top: 0px;
    label {
      font-size: 14px;
    }

    input {
      height: 16px;
      width: 200px;
      font-size: 14px;
    }

    #submitButtonHolder {
      margin-top: 5px;
      button {
        height: 14px;
        width: 150px;
        font-size: 16px;
      }
    }
  }
}
